@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:ital,wght@0,400;1,200&display=swap'); 

body {
    font-family: 'Sofia Sans Condensed', sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

header, footer {
    border-radius: 15px;
}

header, nav, main, footer {
    margin: 1.25rem auto;
    max-width: 650px;
}
img {
    height: 200px;
}

footer{
    display: flex;
    justify-items: center;
}

footer p {
    flex: 1;
    font-family: 'Sofia Sans Condensed', sans-serif;
}

h1 {
    flex: 1;
    /*font-family: Arial, Helvetica, sans-serif;;*/
}

header, footer{
    display: flex;
    align-items: center;
    background-color: #007574;
    color: white;
    text-align: center;
}

header {    
    padding: 1.5rem;
}

p img {
    float: right;
    margin: 10px;
    border: 1px solid #000;
}
